.jumbotron {
    border-radius: 0;
    background-color: #17a2b8;
    color: #FFF;
    margin: 0;
}

.center-grid {
    display: grid;
    justify-content: flex-end;
    align-content: flex-end;
}

.alert {
    margin-top: 1rem;
}